@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/imgs/dimdim.jpeg" />
    <h1 class="display-4">Cartões DimDim</h1>
    <p>Bem vindo ao módulo de contratos de cartões DimDim!</p>
</div>
